.check{
  float: left;
  margin-right: 10px;
  margin-top: 15px
}

.icon{
  float: left;
  margin-right: 70px;
  margin-top: 15px
}

.message{
  float: left;
  margin-top: 15px
}

.each{
  border-bottom: 1px solid lightgrey;
  height: 50px;
}

/*div{
  border: 1px solid black;
}*/

.item{
  height: 50px;
}

.highlight{
  background-color: LemonChiffon;
}

select{
  width: 150px;
}

.filtered{
  float: left;
  margin: 5px;
  height: 18px;
  display: inline-block;
  font-size: 15px;
  background-color: orange;
}

.subject{
  float:left;
}

.bold{
  font-weight: bolder;
}

.normal{
  background-color: LightGrey;
}

.navbar-default{
  background-color: #F1F1F1
}

.navbar-header{
  float: left;
}

.form-group{
  float:left;

}

.search{
  height:25px !important;
  width:300px;
  margin-top: 14px;
  margin-left: 150px;
}

.fa-search{
  height: 30px;

}
