.check{
  float: left;
  margin-right: 10px;
  margin-top: 15px
}

.icon{
  float: left;
  margin-right: 70px;
  margin-top: 15px
}

.message{
  float: left;
  margin-top: 15px
}

.each{
  border-bottom: 1px solid lightgrey;
  height: 50px;
}

/*div{
  border: 1px solid black;
}*/

.item{
  height: 50px;
}

.highlight{
  background-color: LemonChiffon;
}

select{
  width: 150px;
}

.filtered{
  float: left;
  margin: 5px;
  height: 18px;
  display: inline-block;
  font-size: 15px;
  background-color: orange;
}

.subject{
  float:left;
}
