<div class="container">
  <i ng-click="nonclickedlist(); noicon()" ng-show="clicked" class="fa fa-check-square-o btn btn-default"></i>
  <i ng-click="clickedlist();icon()" ng-hide="clicked" class="fa fa-square-o btn btn-default"></i>
  <i ng-show="anyselected" class="fa fa-plus-square-o btn btn-default"></i>
  <input ng-click="read()" type="submit" class="btn btn-default" value="Mark As Read" ng-disabled="!clicked && !anyselected">
  <input ng-click="unread()" type="submit" class="btn btn-default" value="Mark As Unread" ng-disabled="!clicked && !anyselected">
  <select  type="submit" ng-model="filter" ng-change="addlabel(filter); filter='0'"  ng-init="filter=filter[0]" class="btn btn-default" value="Apply Filter">
    <option value="applyfilter">Apply Filter</option>
    <option value="work">Work</option>
    <option value="dev">Dev</option>
    <option value="personal">Personal</option>
  </select>
  <input type="submit" class="btn btn-default" value="Remove Filter">
  <i ng-click="delete()" class="fa fa-trash-o btn btn-default"></i>
  <p> Unread <ng-pluralize count="readcount"
                   when="{1: 'Message',
                     'other': 'Messages'}">
</ng-pluralize> : {{readcount}}
  <div class = "each" ng-repeat = "message in messages track by $index" ng-class="{highlight:$storage.activated[$index]}">
    <div class="check">
    <input ng-click="submitindex($index); anySelect()" type="checkbox" ng-checked="$storage.activated[$index]">
    </div>
    <div class="icon">
      <i ng-click="star(); singleStar()" ng-hide="staricon" class="fa fa-star-o"></i>
      <i ng-click="star(); singleStar()" ng-show="staricon" class="fa fa-star"></i>
    </div>
    <div class="message">
      <div class="filtered" ng-repeat="filter in message.filters | orderBy:'toString()'">
        {{filter}}
      </div>
    <div class="subject">
    {{message.subject}}
  </div>
  </div>
  </div>
</div>
