<div class="container">
  <div class="newcomp">
    <input type="submit" ng-click="open()"class="btn btn-danger">
    <p class="red"> Inbox ({{unreadcount}})</p>
  </div>
  <div class=main>
  <i ng-click="nonclickedlist(); noicon()" ng-show="$storage.allclicked" class="fa fa-check-square-o btn btn-default"></i>
  <i ng-click="clickedlist(); icon()" ng-show="$storage.noneclicked" class="fa fa-square-o btn btn-default"></i>
  <i ng-show="$storage.anyselected" class="fa fa-minus-square-o btn btn-default" ng-click="nonclickedlist()"></i>
  <input ng-click="read(); readdb(message)" type="submit" class="btn btn-default" value="Mark As Read" ng-disabled="!clicked && !$storage.anyselected">
  <input ng-click="unread(); readdb(message)" type="submit" class="btn btn-default" value="Mark As Unread" ng-disabled="!clicked && !$storage.anyselected">
  <select  id="filter" ng-model="label"  ng-change="addlabel(label)" ng-init="label='Apply Filter'" class="btn btn-default">
    <option value="Apply Filter">Apply Filter</option>
    <option ng-repeat="filter in filters" value={{filter}}>{{filter}}</option>
    <option value="Create New">Create New</option>
  </select>
  <select  id="filter" ng-model="labeloff" ng-init="labeloff='Remove Filter'" ng-change="removeLabel(labeloff)" class="btn btn-default">
    <option value="Remove Filter">Remove Filter</option>
    <option ng-repeat="filter in filters" value={{filter}}>{{filter}}</option>
  </select>
  <i ng-click="delete()" class="fa fa-trash-o btn btn-default"></i>
  <form ng-submit="addUniqueLabel(filterinput)">
  <input type="text" ng-model="filterinput" ng-show="showcreate" placeholder="new label"></input>
</form>
  <!-- <p> Unread <ng-pluralize count="unreadcount"
                   when="{1: 'Message',
                     'other': 'Messages',
                   'NAN': '0'}">
</ng-pluralize> : {{unreadcount}} -->
  <div class = "each" ng-repeat = "message in messages |filter:searchbar track by $index" ng-class="{'highlight':$storage.activated[$index], 'bold':!messages[$index].read, 'normal':messages[$index].read}">
    <div class="check">
    <input ng-click="submitindex($index); anySelect()" type="checkbox" ng-checked="$storage.activated[$index]">
    </div>
    <div class="icon">
      <i ng-click="stardb(message)" ng-show="!message.starred" class="fa fa-star-o"></i>
      <i ng-click="stardb(message)" ng-show="message.starred" class="fa fa-star"></i>
    </div>
    <div class="message">
      <div class="filtered" ng-repeat="filter in message.filters | orderBy:'toString()' | filter:searchbar">
        {{filter}}
      </div>
    <div class="subject" ng-click="open('sm')">
    {{message.subject}}
  </div>
  </div>
  </div>
</div>

</div>
