<div class="container">
  <i ng-click="nonclickedlist(); noicon()" ng-show="$storage.clicked" class="fa fa-check-square-o btn btn-default"></i>
  <i ng-click="clickedlist(); icon()" ng-hide="$storage.clicked" class="fa fa-square-o btn btn-default"></i>
  <i ng-show="anyselected" class="fa fa-plus-square-o btn btn-default"></i>
  <input ng-click="read(); readdb(message)" type="submit" class="btn btn-default" value="Mark As Read" ng-disabled="!clicked && !anyselected">
  <input ng-click="unread(); readdb(message)" type="submit" class="btn btn-default" value="Mark As Unread" ng-disabled="!clicked && !anyselected">
  <select  id="filter" ng-model="label" ng-change="addlabel(label)" class="btn btn-default">
    <option ng-repeat="filter in filters" value={{filter}}>{{filter}}</option>
  </select>
  <select  id="filter" ng-model="label" ng-change="removeLabel(label)" class="btn btn-default">
    <option ng-repeat="filter in filters" value={{filter}}>{{filter}}</option>
  </select>
  <i ng-click="delete()" class="fa fa-trash-o btn btn-default"></i>
  <form ng-submit="addUniqueLabel(filterinput)">
  <input type="text" ng-model="filterinput" ng-show="showcreate" placeholder="new label"></input>
</form>
  <p> Unread <ng-pluralize count="unreadcount"
                   when="{1: 'Message',
                     'other': 'Messages',
                   'NAN': '0'}">
</ng-pluralize> : {{unreadcount}}
  <div class = "each" ng-repeat = "message in messages track by $index" ng-class="{'highlight':$storage.activated[$index], 'bold':!messages[$index].read, 'normal':messages[$index].read}">
    <div class="check">
    <input ng-click="submitindex($index); anySelect()" type="checkbox" ng-checked="$storage.activated[$index]">
    </div>
    <div class="icon">
      <i ng-click="stardb(message)" ng-show="!message.starred" class="fa fa-star-o"></i>
      <i ng-click="stardb(message)" ng-show="message.starred" class="fa fa-star"></i>
    </div>
    <div class="message">
      <div class="filtered" ng-repeat="filter in message.filters | orderBy:'toString()'">
        {{filter}}
      </div>
    <div class="subject">
    {{message.subject}}
  </div>
  </div>
  </div>
</div>
